/* @font-face {
  font-family: "New Spirit";
  src: url('./../static/fonts/NewSpirit.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Arial Narrow";
  src: url('./../static/fonts/arialnarrow-subset.woff2') format('woff2');
  font-display: swap;
} */

:root {
  --ruler-color: #74E785;
  --project-background: white;
  --selection-color: #24DC43;
  --hover-color: #6282F0;
  --selection-text-color: var(--font-color);
  --selection-background-color: rgba(36, 220, 67, 0.65);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-weight: inherit;
}

html,
body {
  overscroll-behavior: none;
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  margin: 0;
  line-height: 1;
  min-height: 100vh;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: auto;
  letter-spacing: -0.2pt;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: var(--back-color);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 400;
}

.preloader {
  z-index: 9;
  position: fixed;
  width: 100% !important;
  height: 100% !important;
  background: var(--font-color);
  cursor: wait;
}

::selection {
  color: var(--selection-text-color);
  background-color: var(--selection-background-color);
}

.background__rect {
  position: fixed;
  width: 100%;
  z-index: 0;
}

.background {
  z-index: 0;
}

#f {
  height: 23.6vh;
  background: var(--f-color);
}

#t {
  bottom: 0 !important;
  height: 23.6vh;
  background: var(--t-color);
}

.content {
  font-family: 'New Spirit', serif;
  margin-left: 9vw;
  display: grid;
  gap: 9vh;
  width: 82vw;
  padding-bottom: calc(5.6vh + env(safe-area-inset-bottom));
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: 0;
  padding: 0;
  width: 1px;
  height: 0;
  border: 0;
  white-space: nowrap;
}

.webgl {
  width: 100% !important;
  height: auto !important;
}

.about {
  height: auto;
  max-width: 100%;
  z-index: 1;
}

.display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr !important;
  gap: 2.1vw;
  margin-left: calc((9vw - 5.6vw) * -1);
  margin-right: calc((9vw - 5.6vw) * -1);
}

@media screen and (max-width: 1024px) {
  .display {  grid-template-columns: 1fr !important;  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .display {  grid-template-columns: 1fr 1fr 1fr;  }
}

.display__project {
  width: 100% !important;
  height: 52.8vh !important;
  background-color: hsl(0, 0%, 95%);
  cursor: grab;
  z-index: 1;
}

.blurred {
  /* -webkit-filter: blur(8px); */
  filter: blur(8px);
  /* -webkit-transition: -webkit-filter 3s; */
  transition: filter 3s;
  /* will-change: -webkit-filter; */
  will-change: filter;
}

/* .blurred:hover {
    -webkit-filter: blur(2px);
    -webkit-transition: -webkit-filter 3s;
} */

.links {
  z-index: 1;
  display: grid;
  --font-size: 48px;
  --line-height: 1.3em;
  --top-align: var(--CH);
  --bottom-align: var(--B);
  row-gap: calc(14.6vh - 5.6vh - var(--children-height));
  margin: 0;
}

/* h3 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
} */

.links__link {
  display: block;
  width: fit-content;
  height: fit-content;
}

.links__link a {
  display: block;
  width: fit-content;
  --font-size: inherit;
  --line-height: inherit;
  text-align: left;
  text-decoration-color: var(--font-color);
  text-underline-offset: calc(5.6vh - 3.5vh);
  text-decoration-thickness: 1px;
  color: var(--font-color);
  outline: none;
  transition: color 0.1s linear;
  transition: text-decoration 0.01s linear;
}

@media screen and (max-width: 1024px) {
  .links {  --font-size: 36px;  }
}

.item__link:focus-visible,
.links__link:focus-visible,
h3:focus-visible,
a:hover,
a:focus-visible {
  outline: none;
  transition: color 0.01s linear;
  transition: text-decoration 0.01s linear;
  animation: blink 0.5s infinite;
}

@keyframes blink {

  0%,
  49%,
  to {
    opacity: 1
  }

  50%,
  99% {
    opacity: 0
  }
}

#resize-container {
  position: absolute;
  top: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  scroll-behavior: auto;
}

#resize-container.show {
  display: block;
  scroll-behavior: auto;
}

.toggle-grid {
  display: block;
  cursor: help;
}

#resize-value {
  font-family: 'New Spirit', serif;
  --font-size: 48px;
  --line-height: 1em;
  --top-align: var(--CH);
  --bottom-align: var(--B);
  position: fixed;
  bottom: 5.6vh;
  right: 3.4vw;
  display: block;
  text-align: right;
  color: var(--font-color);
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  #resize-value {  --font-size: 36px;  }
}

#resize-value-hide {
  display: none;
}

.hover-reveal {
  position: fixed;
  z-index: 1 !important;
  top: 0;
  left: 0;
  width: 270px;
  height: 540px;
  pointer-events: none;
  opacity: 0;
}

.hover-reveal__inner {
  overflow: hidden;
  z-index: 1 !important;
}

.hover-reveal__inner,
.hover-reveal__img {
  border-radius: 10px;
  position: relative;
  z-index: 1 !important;
  width: 100%;
  height: 100%;
}

.hover-reveal__img {
  background-size: cover;
  background-position: 50% 50%;
}

/* grids */

.grid-line-l {
  position: fixed;
  width: 1px;
  height: 125%;
  background-color: var(--ruler-color);
  opacity: 1.0;
  z-index: 0;
}

.grid.hidden {
  transform: scale(0.01);
}

#grid-line-l-0 {
  top: 0px;
  left: 61.8vw;
}

#grid-line-l-1 {
  top: 0px;
  left: 38.2vw;
}

#grid-line-l-2 {
  top: 0px;
  left: 23.6vw;
}

#grid-line-l-3 {
  top: 0px;
  left: 14.6vw;
}

#grid-line-l-4 {
  top: 0px;
  left: 9vw;
}

#grid-line-l-5 {
  top: 0px;
  left: 5.6vw;
}

#grid-line-l-6 {
  top: 0px;
  left: 3.5vw;
}

#grid-line-l-7 {
  top: 0px;
  left: 2.1vw;
}

.grid-line-r {
  position: fixed;
  width: 1px;
  height: 125%;
  background-color: var(--ruler-color);
  opacity: 1.0;
  z-index: 0;
}

#grid-line-r-2 {
  top: 0px;
  right: 23.6vw;
}

#grid-line-r-3 {
  top: 0px;
  right: 14.6vw;
}

#grid-line-r-4 {
  top: 0px;
  right: 9vw;
}

#grid-line-r-5 {
  top: 0px;
  right: 5.6vw;
}

#grid-line-r-6 {
  top: 0px;
  right: 3.5vw;
}

#grid-line-r-7 {
  top: 0px;
  right: 2.1vw;
}

.grid-line-t {
  position: fixed;
  width: 100%;
  height: 1px;
  background-color: var(--ruler-color);
  opacity: 1.0;
  z-index: 0;
}

#grid-line-t-0 {
  top: 61.8vh;
}

#grid-line-t-1 {
  top: 38.2vh;
}

#grid-line-t-2 {
  top: 23.6vh;
}

#grid-line-t-3 {
  top: 14.6vh;
}

#grid-line-t-4 {
  top: 9vh;
}

#grid-line-t-5 {
  top: 5.6vh;
}

#grid-line-t-6 {
  top: 3.5vh;
}

#grid-line-t-7 {
  top: 2.1vh;
}

.grid-line-b {
  position: fixed;
  width: 100%;
  height: 1px;
  background-color: var(--ruler-color);
  opacity: 1.0;
  z-index: 0;
}

#grid-line-b-0 {
  bottom: 61.8vh;
}

#grid-line-b-1 {
  bottom: 38.1vh;
}

#grid-line-b-2 {
  bottom: 23.6vh;
}

#grid-line-b-3 {
  bottom: 14.6vh;
}

#grid-line-b-4 {
  bottom: 9vh;
}

#grid-line-b-5 {
  bottom: 5.6vh;
}

#grid-line-b-6 {
  bottom: 3.5vh;
}

#grid-line-b-7 {
  bottom: 2.1vh;
}

/* grids */


/*# sourceMappingURL=main.css.map*/