@import url(https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap);


/* (90deg, rgba(2, 0, 36, 1) 0%, rgba(7, 75, 187, 1) 4.5%, rgba(2, 0, 36, 1) 9%, rgba(7, 75, 187, 1) 13.5%, rgba(2, 0, 36, 1) 18%, rgba(7, 75, 187, 1) 22.5%, rgba(2, 0, 36, 1) 27%, rgba(7, 75, 187, 1) 31.5%, rgba(2, 0, 36, 1) 36%, rgba(7, 75, 187, 1) 40.5%, rgba(2, 0, 36, 1) 45%, rgba(7, 75, 187, 1) 50%, rgba(2, 0, 36, 1) 55%, rgba(7, 75, 187, 1) 59.5%, rgba(2, 0, 36, 1) 64%, rgba(7, 75, 187, 1) 69.5%, rgba(2, 0, 36, 1) 74%, rgba(7, 75, 187, 1) 78.5%, rgba(2, 0, 36, 1) 83%, rgba(7, 75, 187, 1) 87.5%, rgba(2, 0, 36, 1) 92%, rgba(7, 75, 187, 1) 96.5%, rgba(2, 0, 36, 1) 100%) */

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  vertical-align: text-top;
  line-height: 1ch;
  overscroll-behavior: none;  
  scroll-behavior: auto;
}

html {
  height: 100%;
  scroll-behavior: auto;
}

body {
  margin: 0;
  /* font-family:  */
  font: 48px 'PT Serif', serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  background: rgb(2, 0, 36);
  background: var(--back-color);
  height: 100%;
  overflow-x: hidden;
  letter-spacing: -0.2pt;
  scroll-behavior: auto;
}

::selection {
  color: var(--selection-text-color);
  background-color: var(--selection-background-color);
}

.rect {
  width: 100%;
  position: fixed;
}

#f {
  height: 23.6vh;
  background: var(--f-background);
}
/* #s {
  height: 100%;
  background: var(--back-color);
} */
#t {
  bottom: 0 !important;
  height: 23.6vh;
  background: var(--t-background);
}

.content {
  position: absolute;
  left: 8.7vw;
  top: 14.3vh;
  width: auto;
  max-width: 88vw;
  display: grid;
}

.webgl {
  width: 100% !important;
  height: auto !important;
}

a, p {
  padding: 0px;
  margin: 0px;
  width: fit-content !important;
  /* max-width: 50% !important; */
  /* text-decoration: none; */
  color: var(--font-color);
  display: inline-block;
  text-align: left;
  margin-bottom: calc(((23.6vh - 9vh) - 1.65ch) / 2);
  outline: none;
  padding: 0;
  z-index: 999;
  line-height: 103%;
  transition: color 0.1s linear;
}

#start {
  margin-top: -1.55ch;
}

a:hover {
  color: var(--hover-color);
  transition: color 0.1s linear;
}

.display {
  width: 88.75vw;
  margin: 0 -3.1vw;
  display: grid;
  column-gap: 3.1vw;
  grid-template-columns: 1fr 1fr 1fr !important;
  font-size: 48px;
  line-height: 104%;
  margin-bottom: calc(((23.6vh - 9vh) - 2.5ch) / 2);
}

.project {
  background-color: hsl(0, 0%, 95%);
  height: 52.8vh !important;
  cursor: grab;
}

.blurred {
  -webkit-filter: blur(16px);
  -webkit-transition: -webkit-filter 30s;
  cursor: wait;
}

.blurred:hover {
  -webkit-filter: blur(2px);
  -webkit-transition: -webkit-filter 30s;
}

canvas {
  height: 100% !important;
  width: 100% !important;
}

#resize-container {
  position: absolute;
  top: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9001;
  scroll-behavior: auto;
}

#resize-container.show {
  display: block;
  scroll-behavior: auto;
}

#resize-text {
  color: var(--font-color);
  /* left: 3.2vw; */
  /* top: 2.9vh; */
}

.toggle-grid {
  cursor: help;
}
#resize-value {
  display: block;
  color: var(--font-color);
  position: fixed;
  bottom: 6.4vh;
  right: 3.4vw;
  text-align: right;
  z-index: 11000;
}

.grid-line-l {
  position: fixed;
  z-index: 1;
  width: 1px;
  height: 100%;
  background-color: var(--ruler-color);
  opacity: 0.6;
}

.grid.hidden {
  transform: scale(0.01);
}

#grid-line-l-0 {
  top: 0px;
  left: 61.8vw;
}

#grid-line-l-1 {
  top: 0px;
  left: 38.2vw;
}

#grid-line-l-2 {
  top: 0px;
  left: 23.6vw;
}

#grid-line-l-3 {
  top: 0px;
  left: 14.6vw;
}

#grid-line-l-4 {
  top: 0px;
  left: 9vw;
}

#grid-line-l-5 {
  top: 0px;
  left: 5.6vw;
}

#grid-line-l-6 {
  top: 0px;
  left: 3.5vw;
}

#grid-line-l-7 {
  top: 0px;
  left: 2.1vw;
}

.grid-line-r {
  position: fixed;
  z-index: 1;
  width: 1px;
  height: 100%;
  background-color: var(--ruler-color);
  opacity: 0.6;
}

#grid-line-r-2 {
  top: 0px;
  right: 23.6vw;
}

#grid-line-r-3 {
  top: 0px;
  right: 14.6vw;
}

#grid-line-r-4 {
  top: 0px;
  right: 9vw;
}

#grid-line-r-5 {
  top: 0px;
  right: 5.6vw;
}

#grid-line-r-6 {
  top: 0px;
  right: 3.5vw;
}

#grid-line-r-7 {
  top: 0px;
  right: 2.1vw;
}

.grid-line-t {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 1px;
  background-color: var(--ruler-color);
  opacity: 0.6;
}

#grid-line-t-0 {
  top: 61.8vh;
}

#grid-line-t-1 {
  top: 38.2vh;
}

#grid-line-t-2 {
  top: 23.6vh;
}

#grid-line-t-3 {
  top: 14.6vh;
}

#grid-line-t-4 {
  top: 9vh;
}

#grid-line-t-5 {
  top: 5.6vh;
}

#grid-line-t-6 {
  top: 3.5vh;
}

#grid-line-t-7 {
  top: 2.1vh;
}

.grid-line-b {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 1px;
  background-color: var(--ruler-color);
  opacity: 0.6;
}

#grid-line-b-0 {
  bottom: 61.8vh;
}

#grid-line-b-1 {
  bottom: 38.1vh;
}

#grid-line-b-2 {
  bottom: 23.6vh;
}

#grid-line-b-3 {
  bottom: 14.6vh;
}

#grid-line-b-4 {
  bottom: 9vh;
}

#grid-line-b-5 {
  bottom: 5.6vh;
}

#grid-line-b-6 {
  bottom: 3.5vh;
}

#grid-line-b-7 {
  bottom: 2.1vh;
}

#resize-value-hide {
  display: none;
}

@media screen and (max-width: 1300px) and (pointer: coarse) {
  body {
    margin: 0;
    font-size: 18pt;
    -webkit-font-smoothing: antialiased;
    background-color: var(--back-color);
    height: 100%;
    overflow-x: hidden;
  }

  .content {
    position: absolute;
    left: 8.7vw;
    top: 14.4vh;
    width: auto;
    display: grid;
  }

  .display {
    width: 88.75vw;
    /* height: 52.8vh !important; */
    margin: 0 -3.1vw;
    display: grid;
    row-gap: 3.1vw;
    grid-template-columns: 1fr !important;
    font-size: 18px;
    line-height: 103%;
    margin-bottom: calc(14.591vh - 9vh - 0.2ch);
    /* background-color: green; */
  }

  #t {
    visibility: hidden;
  }

  p, a {
    /* text-decoration: none; */
    word-break: normal;
    color: var(--font-color);
    display: inline-block;
    text-align: left;
    margin-bottom: calc(14.591vh - 9vh - 0.2ch);
    outline: none;
    padding-right: 2.1vw;
    z-index: 999;
  }

  #resize-value {
    display: block;
    color: var(--font-color);
    position: fixed;
    bottom: calc(5.6vh + 0.1em);
    right: 3.2vw;
    text-align: right;
  }
}

@media screen and (max-width: 1300px) and (min-width: 0px) and (pointer: coarse) and (orientation: landscape) {
  p, a {
    /* word-break: break-all; */
    word-break: normal;
    color: var(--font-color);
    display: inline-block;
    text-align: left;
    margin-bottom: calc(14.591vh - 9vh - 0.2ch);
    outline: none;
    padding-right: 2.1vw;
    z-index: 999;
}

.display {
  width: 88.75vw;
  margin: 0 -3.1vw;
  display: grid;
  column-gap: 3.1vw;
  grid-template-columns: 1fr 1fr 1fr !important;
  font-size: 18px;
  line-height: 103%;
  margin-bottom: calc(14.591vh - 9vh - 0.2ch);
  }
}


/*# sourceMappingURL=main.css.map*/