* {
  margin: 0; 
  padding: 0; 
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  box-sizing: border-box; 
  vertical-align: text-top;
  line-height: 1ch;
}


@font-face {
  font-family: "HelveticaNeue";
  src: url("./fonts/HelveticaNeueCyr-Roman.eot"); /* IE9 Compat Modes */
  src: url("./fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/HelveticaNeueCyr-Roman.otf") format("opentype"), /* Open Type Font */
    url("./fonts/HelveticaNeueCyr-Roman.svg") format("svg"), /* Legacy iOS */
    url("./fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/HelveticaNeueCyr-Roman.woff") format("woff"), /* Modern Browsers */
    url("./fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

html{
  height: 100%;
}

body {
  margin: 0;
  font: 48px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f3f2ed;
  height: 100%;
  overflow-x: hidden;
  letter-spacing: 0.8pt;
}

.content {
  position: absolute;
  left: 8.8vw;
  top: 9vh;
  width: auto;
  display: grid;
}

a {
  padding: 0px;
  margin: 0px;
  /* text-decoration: none; */
  color: #161616;
  display: inline-block;
  text-align: left;
  margin-bottom: calc((23.6vh - 9vh) - 1ch + 0.02em);
  outline: none;
  padding: 0;
  z-index: 999;
}

a:hover {
  color: #699ac6;
}

#resize-container{
  position: fixed;
  top: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9001;
}

#resize-container.show{
  display: block;
}

#resize-text{
  color: #161616;
  /* left: 3.2vw; */
  /* top: 2.9vh; */
}

#resize-value{
  display: block;
  color: #161616;
  position: absolute;
  bottom: 4.4vh;
  right: 3.5vw;
  text-align: right;
}

.grid-line-l{
  position: absolute;
  width: 1px;
  height: 100%;
  background-color:aqua;
  opacity: 0.6;

}

#grid-line-l-0{
  top: 0px;
  left: 61.8vw;
}

#grid-line-l-1{
  top: 0px;
  left: 38.2vw;
}

#grid-line-l-2{
  top: 0px;
  left: 23.6vw;
}

#grid-line-l-3{
  top: 0px;
  left: 14.6vw;
}

#grid-line-l-4{
  top: 0px;
  left: 9vw;
}

#grid-line-l-5{
  top: 0px;
  left: 5.6vw;
}

#grid-line-l-6{
  top: 0px;
  left: 3.5vw;
}

#grid-line-l-7{
  top: 0px;
  left: 2.1vw;
}

.grid-line-r{
  position: absolute;
  width: 1px;
  height: 100%;
  background-color:aqua;
  opacity: 0.6;
}

#grid-line-r-2{
  top: 0px;
  right: 23.6vw;
}

#grid-line-r-3{
  top: 0px;
  right: 14.6vw;
}

#grid-line-r-4{
  top: 0px;
  right: 9vw;
}

#grid-line-r-5{
  top: 0px;
  right: 5.6vw;
}

#grid-line-r-6{
  top: 0px;
  right: 3.5vw;
}

#grid-line-r-7{
  top: 0px;
  right: 2.1vw;
}


.grid-line-t{
  position: absolute;
  width: 100%;
  height: 1px;
  background-color:aqua;
  opacity: 0.6;

}

#grid-line-t-0{
  top: 61.8vh;
}

#grid-line-t-1{
  top: 38.2vh;
}

#grid-line-t-2{
  top: 23.6vh;
}

#grid-line-t-3{
  top: 14.6vh;
}

#grid-line-t-4{
  top: 9vh;
}

#grid-line-t-5{
  top: 5.6vh;
}

#grid-line-t-6{
  top: 3.5vh;
}

#grid-line-t-7{
  top: 2.1vh;
}

.grid-line-b{
  position: absolute;
  width: 100%;
  height: 1px;
  background-color:aqua;
  opacity: 0.6;
}

#grid-line-b-0{
  bottom: 61.8vh;
}

#grid-line-b-1{
  bottom: 38.1vh;
}

#grid-line-b-2{
  bottom: 23.6vh;
}

#grid-line-b-3{
  bottom: 14.6vh;
}

#grid-line-b-4{
  bottom: 9vh;
}

#grid-line-b-5{
  bottom: 5.6vh;
}

#grid-line-b-6{
  bottom: 3.5vh;
}

#grid-line-b-7{
  bottom: 2.1vh;
}

#resize-value-hide {
  display: none;
}

@media screen and (max-width: 1300px) and (min-width: 0px) and (pointer:coarse) {
  
  body {
    margin: 0;
    font: 32px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #f3f2ed;
    height: 100%;
    overflow-x: hidden;
    letter-spacing: 0.4pt;
  }

  .content {
    position: fixed;
    left: 8.89vw;
    top: 9vh;
    width: auto;
    display: grid;
  }
  
  a {
    /* text-decoration: none; */
    word-break: break-all;
    color: #161616;
    display: inline-block;
    text-align: left;
    margin-bottom: calc(14.591vh - 9vh - 1ch);
    outline: none;
    padding-right: 2.1vw;
    z-index: 999;
  }

/* #resize-value-hide {
  display: block;
  color: #161616;
  position: absolute;
  bottom: 4.75vh;
  right: 3vw;
  text-align: right;
} */

#resize-value{
  display: block;
  color: #161616;
  position: absolute;
  bottom: 4.75vh;
  right: 3.5vw;
  text-align: right;
}
}